.footer {
  bottom: 0px;
  position: relative;
  width: -webkit-fill-available;
  padding-bottom: 0;
  padding-top: 0;
}

.img-footerhome {
  height: 100px;
  width: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-footer {
  color: #24292e;
  font-weight: bold;
  font-size: 20px;
}

.copyright {
  font-size: 15px;
  color: lightgray;
}

.div-footer {
  margin-top: 2px;
  margin-bottom: 0;
}

.hr-footer {
  margin-top: 1px;
  margin-bottom: 1px;
}
