.btnAbout{
  /* position: absolute;
  /* top: 90%; */
  /* position: bottom; */
  float: right;
  bottom: auto;
} 

.kmitl-logo{
  text-align: center;
}

.NameDev{
  text-align: center; 
}

.dev{
  width: 100%;
  padding: 5px;
 
  
  /* padding-left: 15px;
  padding-right: 15px;  */
  /* text-align: center;  */
}




.roecar{
  transform: rotate(-180deg);
 
}

