.mr-auto {
    font-size: 25px;
  }

.btnAbout{
    position: sticky;
    bottom: 0%;
    right: 0%;
}

.kmitl-logo{
  text-align: center;
}

.NameDev{
  text-align: center; 
}

.dev{
  
  width: 33%;
  padding-left: 15px;
  padding-right: 15px; 
  /* text-align: center;  */
}

.content{
  text-align: center;
}