/* Page HeaderBar */

/* Button AboutUs */
.btnAbout .front {
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
}
/* Logo in NavbarBrand */
.logo-sp {
  padding-right: 10px;
}
/* Font in NavbarBrand */
.navbar-brand {
  font-size: 22px !important;
}
/* Navbar sticky */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* Dropdown in Navbar */
.dropdown-menu.dropdown-menu-right.show {
  position: absolute;
}

/* Div-navbar */
.d-nav {
  margin-bottom: 80px;
}

/* Page Home */
/* img Place */
.Place-logo {
  width: 100%;
  padding: 5px;
  height: 250px;
  margin-top: 20px;
}
/* Button place */
.place-btn {
  background-color: white;
  border: white;
}

/* Page AboutUs */
/* KNITL Logo */
.kmitl-logo {
  text-align: center;
}
/* Content related about team : Name,position */
.NameDev {
  text-align: center;
}
/* img-person of team */
.dev {
  width: 100%;
  padding: 5px;
  height: 350px;
}

/* Page Place1&Place2 */
/* Rotate img car */
.roecar {
  transform: rotate(-180deg);
}
/* Number of car */
.No-car {
  margin-bottom: 0;
  text-align: center;
}
/* Remove gap between img car */
.no-gutter [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
  margin: -1.5px;
}
/* Gap between Row of car */
.gap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contentApp {
  width: 80%;
}



/* .row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  [col-sm-2]{
    padding-right: 0;
    padding-left: 0;
  }
} */

