body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
  }
  
  .Navigator {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

